body {
    background-color: #e5e5e5;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}

.banner {
    width: 100%;
    height: 500px;
    background: url('img/baza.png') center/cover no-repeat;
}

.container-fluid {
    background-color: #f4f4f4;
}

img {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-group {
    max-width: 300px;
}

.footer-logo img {
    max-width: 100px;
    /* Укажите желаемую максимальную ширину */
    height: auto;
    /* Сохраняет пропорции изображения */
    margin: 0 auto;
    /* Центрирует изображение */
}

@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url('fonts/NeueHaasGrotesk-Regular.woff2') format('woff2'),
        url('fonts/NeueHaasGrotesk-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Neue Haas Grotesk';
    src: url('fonts/NeueHaasGrotesk-Bold.woff2') format('woff2'),
        url('fonts/NeueHaasGrotesk-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}



/* Стили для бургер-меню */
.burger-checkbox {
    position: absolute;
    visibility: hidden;
}

.burger {
    cursor: pointer;
    display: block;
    position: relative;
    width: 35px;
    height: 25px;
    z-index: 1;
}

.burger span {
    display: block;
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    transition: transform 0.3s, top 0.3s, bottom 0.3s;
}

.burger span:nth-child(1) {
    top: 0;
}

.burger span:nth-child(2) {
    top: 10px;
}

.burger span:nth-child(3) {
    top: 20px;
}

/* Когда чекбокс активен (бургер меню открыто) */
.burger-checkbox:checked+.burger span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}

.burger-checkbox:checked+.burger span:nth-child(2) {
    opacity: 0;
}

.burger-checkbox:checked+.burger span:nth-child(3) {
    transform: rotate(-45deg);
    top: 10px;
}

/* Меню, которое появляется при активном бургер-меню */
#menu-list {
    display: none;
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    background-color: #D6E9FF;
    padding-top: 60px;
    z-index: 1000;
    transition: left 0.3s ease-in-out;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* Когда чекбокс активирован, меню выезжает */
.burger-checkbox:checked~#menu-list {
    display: flex;
    left: 0;
}

/* Опционально: если вы хотите изменить цвет фона бургер-меню в момент открытия */
.burger-checkbox:checked~.burger {
    background-color: #f0f0f0;
}

.navbar-brand {
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
}


/*увелечине картики при наведении*/
.clickable-card {
    cursor: pointer;
    transition: transform 0.4s ease-out;
}

.clickable-card img {
    transition: transform 0.4s ease-out;
    transform-origin: center;
}

.clickable-card:hover img {
    transform: scale(1.08);
}

/*кнопушка домой*/
.btn-home {
    font-family: 'Neue Haas Grotesk', sans-serif;
    font-size: 18px;
    font-weight: bold;
    color: #c7c7c7;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
    display: inline-flex;
    align-items: center;
}

.btn-home::before {
    content: "←";
    margin-right: 8px;
    font-size: 20px;
    transition: transform 0.3s ease;
}

.btn-home:hover {
    color: #545454;
    transform: scale(1.1);
}

.btn-home:hover::before {
    transform: translateX(-5px);
}

#intro-screen {
    transition: opacity 1s ease;
}

#intro-screen.hidden {
    opacity: 0;
    pointer-events: none;
}

#intro-screen h1 {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeUp 1s ease 0.5s forwards;
}

@keyframes fadeUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
